<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApuApp.Properties.Settings.ApuChamberConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=ApuChamber;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>